.form-container {
    padding: 15px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.search-form-categories {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media screen and (max-width: 550px) {
    .search-form-categories {
        flex-direction: column;
    }
}

.search-form-categories > div {
    padding: 10px 15px;
    width: 600;
    border: solid;
    border-width: 1px;
    border-radius: 0.35em;
    cursor: pointer;
}

.active-category {
    background-image: radial-gradient(ellipse, white 40%, #f2befc);
}

.inactive-category:hover {
    background-image: radial-gradient(ellipse, white 65%, #ec8cff);
}