@import url("../SiteColors.css");

.content-container {
    margin-left: 25px;
}

.login-form {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 30px;
}

.cat-container {
    background-color: var(--secondary-site-color);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    max-width: 700px;
    height: 400px;
    margin-top: 100px;

    border-radius: 5em;

    position: relative;
}

.cat-ears {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: absolute;
    top: -100px;

    width: 100%;
    height: 100px;
}

.left-cat-ear {
    height: 0;
    width: 0;

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--secondary-site-color);

    position: relative;
    bottom: -1px;
}

.right-cat-ear {
    width: 0;
    height: 0;

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--secondary-site-color);

    position: relative;
    bottom: -1px;
}

@media only screen and (max-width: 1200px) {
    .cat-ears {
        display: flex;
        justify-content: center;
        gap: 15vw;
    }

    .left-cat-ear {
        border-left: 6vw solid transparent;
        border-right: 6vw solid transparent;
    }

    .right-cat-ear {
        border-left: 6vw solid transparent;
        border-right: 6vw solid transparent;
    }
}

.login-form > div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.login-form > input {
    width: 40%;
}