@import url(../SiteColors.css);

.main-headline-div {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-site-color);
}

h1 {
    color: var(--primary-site-color);
}