html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

body {
  margin: 0px;
}

header {
  background-color: gray;
  height: 10vh;
}

footer {
  height: 6.8vh;
}