@import url("./SiteColors.css");

:root {
  --h1-font-size: clamp(2.5rem, 4vw, 5.5rem);
  --h2-font-size: clamp(2rem, 2.2vw, 3rem);
  --h3-font-size: clamp(1.8rem, 2vw, 2.6rem);
  --h4-font-size: clamp(1.6rem, 1.8vw, 2.4rem);
  --h5-font-size: clamp(1.4rem, 1.6vw, 2.2rem);
  --h6-font-size: clamp(1.2rem, 1.4vw, 2rem);
  --text-font-size: clamp(18px, 1.2rem, 1.5rem);
}

html {
  scroll-behavior: smooth;
}

a:active {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  color: var(--primary-site-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  margin: 0px;
  font-size: var(--text-font-size);
}

body {
  margin: 0px;
}

footer {
  height: 6.8vh;
}

.site-button {
  background-color: white;
  padding: 10px 15px;
  border: solid;
  border-width: 1px;
  border-radius: 0.35em;
  cursor: pointer;
  text-decoration: none;
}

.site-button:hover {
  background-image: radial-gradient(ellipse, white 65%, #ec8cff);
}

.form-inputs {
  position: relative;
}

.invalid-input {
  box-shadow: 0px 0px 3px 2px #B00020;
}

.invalid-input-text {
  color: #B00020;

  position: absolute;
  bottom: 50px;
  left: 15px;
}

.invalid-input-animation {
  animation-name: shake;
  animation-duration: 0.1s;
}

@keyframes shake {
  0% {
    transform: translate(0.7em);
  }

  25% {
    transform: translate(0em);
  }

  75% {
    transform: translate(-0.7em);
  }

  100% {
    transform: translate(0em);
  }
}